
.btns-block__list {

width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btns-block__list:nth-child(2) {

  justify-content: center
  } */

.btns-block__link_login-btn {
  margin: 0 0 0 30px;
  padding: 8px 0;
  background-color: #3ddc84;
  min-width: 76px;
  text-align: center;
  border-radius: 3px;
  color: #000;
}

.btns-block__link_signup-btn:first-child {
  display: block;
}

